/*=======================================================================

	❤❤❤ Gumby by Digital Surgeons. ❤❤❤
	
	*** This is where you should keep all of your TEXT styles ***
 
 ========================================================================*/
 
@font-face {
    font-family: "Cabin";
    src: url("/fonts/Cabin/Cabin-Regular.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Cabin";
    src: url("/fonts/Cabin/Cabin-Bold.otf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Cabin";
    src: url("/fonts/Cabin/Cabin-Italic.otf");
    font-weight: normal;
    font-style: italic, oblique;
}
@font-face {
    font-family: "Cabin";
    src: url("/fonts/Cabin/Cabin-BoldItalic.otf");
    font-weight: bold;
    font-style: italic, oblique;
}

body {
	font-family: "Cabin", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 1.8;
}

h1 {
    font-size: 30px;
    font-size: 3.0rem;
    line-height: 1.8;
    font-weight: normal;
    color: inherit;
}

h2 {
    font-size: 20px;
    font-size: 2.0rem;
    line-height: 1.8;
    font-weight: normal;
    color: inherit;
}

.navbar > ul > li > a > .top {
    font-size: 12px;
    line-height: 1.5em;
}

.footer_bottom p {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.4;
}

.promise {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.2;
    text-align: right;     
}
 
 /* ==|== media queries ======================================================
    PLACEHOLDER Media Queries for Responsive Design.
    These override the primary ('mobile first') styles
    Modify as content requires.
    ========================================================================== */
 
 @media only screen and (min-width: 480px) {
   /* Style adjustments for viewports 480px and over go here */
 
 }
 
 @media only screen and (min-width: 768px) {
   /* Style adjustments for viewports 768px and over go here */
 
 }
