---
layout: default
---

<div class="row maincontent">
  <div class="eight columns">
    <h1>Most Recent Updates</h1>
    {% for post in site.posts %}
		<h2>{{ post.title }}</h2>

		{% if post.video %} 
		<p> <iframe width="540" height="304" src="{{ post.video }}" frameborder="0" allowfullscreen></iframe> </p>
		{% endif %}

		{% if post.images %}
			{% for image in post.images limit:1 %}
				<p> <a class="gallery" href="{{ site.content_imgs }}/{{ image.src }}.png"> <img width="540" src="{{ site.content_imgs }}/{{ image.src }}-540.png"> </a> </p>
			{% endfor %}
		{% endif %}

		<p class="archive_excerpt">	
			<span>{{ post.date | date: "%B %e, %Y" | ordinalize  }} &gt;&gt;</span>
			{{ post.content | strip_html | truncatewords: 100 }} 
			<a href="{{ post.url }}">read more &gt;&gt;</a>
		</p>

	{% endfor %}
  </div>
  
  <div class="four columns">
  	{% include blog_info.html %}
  </div>
</div>
