---
layout: default
---

<div class="row maincontent">
  <div class="six columns">
    <img class="landing subheader" src="img/h1welcome.png" width="113" height="49" />
      <strike>
        <p>RapidFire Studio thinks your next favorite game should be easy to learn and follow you around on different devices.<p>
	      <p>RapidFire is currently working on its first game which will be released on iOS and via Facebook (with other platforms coming soon after).</p>
      </strike>
        <p>Actually, RapidFire Studio thinks your next game should take many hours to play, transport you to a different world and be worth more than $1, which is why we're not working on casual games any more.</p>
      <p>Check back here for updates or subscribe:*</p>
      {% include mailchimp_form.html %}
      <p class="promise">*We won't use your email for anything evil.</p>
  </div>
  <div class="six columns">
    <img class="landing subheader" src="img/h1updates.png" width="96" height="49" />
    {% for post in site.posts limit:3 %}
		{% include post_intro.html %}
	  {% endfor %}
    <p><a href="/blog.html">Read all blog posts here. &gt;&gt;</a></p> 
  </div>
</div>