---
layout: default
demo: true
swf_url: /Users/matthew/nothing.swf
---

{% if page.demo %}
<div class="row">
 <div class="twelve columns" id="demodiv">
    {% swfobject swf_url %}<style> #demodiv { display: none; } </style>{% endswfobject %}
  </div>
</div>
{% endif %}

<div class="row maincontent">
  <div class="six columns">
    <img class="landing subheader" src="img/h1welcome.png" width="113" height="49" />
      <p>RapidFire Studio thinks your next favorite game should be easy to get into and follow you around so that playing fits into your lifestyle.<p>
      <p>RapidFire makes games that are easy to learn and fun to play and follow you around (on different platforms).</p>
	    <p>RapidFire is currenlty working on its first game which will be released on iOS and via Facebook (with other platforms coming soon after).</p>
      <p>Check back here for updates or subscribe:*</p>
      {% include mailchimp_form.html %}
      <p class="promise">*We won't use your email for anything evil.</p>
  </div>
  <div class="six columns">
    <img class="landing subheader" src="img/h1updates.png" width="96" height="49" />
    {% for post in site.posts limit:3 %}
		{% include post_intro.html %}
	  {% endfor %}
  </div>
</div>