---
layout: default
demo: false
---

{% if page.demo %}
<div class="row" id="demorow">
 <div class="seven columns" id="demodiv">
    <h1>[DRAFT] Current Game Design</h1>
    {% swfobject /flash/Main.swf width:480px height:320px %}
      <style> #demorow { display: none; } </style>
    {% endswfobject %}
 </div>
 <div class="five columns">
    <p>This is RapidFire's current design-in-progress. To play the demo click the play button and watch your helper (the squirrel) take the safe path through the dungeon. Follow the path to get a high score. Watch out! There are many traps in the dungeon.</p>
 </div>
</div>
{% endif %}

<div class="row maincontent">
  <div class="six columns">
    <img class="landing subheader" src="img/h1welcome.png" width="113" height="49" />
      <p>RapidFire Studio thinks your next favorite game should be easy to learn and follow you around on different devices.<p>
	    <p>RapidFire is currently working on its first game which will be released on iOS and via Facebook (with other platforms coming soon after).</p>
      <p>Check back here for updates or subscribe:*</p>
      {% include mailchimp_form.html %}
      <p class="promise">*We won't use your email for anything evil.</p>
  </div>
  <div class="six columns">
    <img class="landing subheader" src="img/h1updates.png" width="96" height="49" />
    {% for post in site.posts limit:3 %}
		{% include post_intro.html %}
	  {% endfor %}
    <p><a href="/blog.html">Read all blog posts here. &gt;&gt;</a></p>
  </div>
</div>