<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" itemscope itemtype="http://schema.org/Product"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% if page.title %} {{ page.title }} |{% endif %} RapidFire Studio Limited</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
  
  <!--Facebook Metadata /-->
  <meta property="fb:page_id" content="" />
  <meta property="og:image" content="" />
  <meta property="og:description" content=""/>
  <meta property="og:title" content=""/>
  
  <!--Google+ Metadata /-->
  <meta itemprop="name" content="">
  <meta itemprop="description" content="">
  <meta itemprop="image" content="">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  <!-- CSS: implied media=all -->
  <!-- <link rel="stylesheet" href="/css/imports.css?{{ site.time | date: "%Y%m%d%H%M%S" }}"> -->
  <link rel="stylesheet" href="/css/gumby.css?{{ site.time | date: "%Y%m%d%H%M%S" }}">
  <link rel="stylesheet" href="/css/ui.css?{{ site.time | date: "%Y%m%d%H%M%S" }}">
  <link rel="stylesheet" href="/css/style.css?{{ site.time | date: "%Y%m%d%H%M%S" }}">
  <link rel="stylesheet" href="/css/text.css?{{ site.time | date: "%Y%m%d%H%M%S" }}">
  <!-- end CSS-->

  <!-- All JavaScript at the bottom, except for Modernizr / Respond.
       Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
       For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
  <script src="js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body>

<div class="container">
  
    <div class="row">
      <div class="twelve columns special head">
        <a href="/"><img id="logo" src="/img/RapidFire_logo.png" width="307" height="307" /></a>
      </div>
    </div>

    <div class="row navrow">
      <nav class="navbar">
      <a href="#" class="toggle" data-for=".navbar > ul"><img src="/img/icon_nav_toggle.gif" /></a>
      <ul>
        <li><a href="/games.html"><span class="top">CHECK OUT OUR</span><br>GAMES</a></li>
        <li><a href="/blog.html"><span class="top">READ MORE AT OUR</span><br>BLOG</a></li>
        <li></li>
        <li></li>
        <li><a href="{{ site.twitter }}"><span class="top">FOLLOW US ON</span><br>TWITTER</a></li>
        <li><a href="{{ site.facebook }}"><span class="top">FOLLOW US ON</span><br>FACEBOOK</a></li>
        <li><a href="mailto:{{ site.email }}"><span class="top">SEND US AN</span><br>EMAIL</a></li>
      </ul>
      </nav>
    </div>
</div>

<div class="container content">

 {{ content }}

</div>

<div class="container">
    <div class="row footer">
      <div class="six columns footer_left">
        <p>RapidFire Studio Limited </br>
           20th Floor, Central Tower </br>
           28 Queen's Road, Central </br>
           Hong Kong SAR
        </p>
      </div>
      <div class="six columns footer_right">
        <p> <a href="mailto:{{ site.email }}">contact@rapidfirestudio.com</a> </br>
            <a href="{{ site.twitter }}">twitter.com/rapidfirestudio</a> </br>
            <a href="{{ site.facebook }}">facebook.com/rapidfirestudio</a>
        </p>
      </div>
    </div>

    <div class="row footer">
      <div class="twelve columns footer_bottom">
        <p><a href="/legal.html">Terms of Service</a> | <a href="/legal.html#privacy">Privacy Policy</a> | Design and Content Copyright 2011 - 2013 RapidFire Studio Limited</p>
      </div>
    </div>
  </div>
</div>

 <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/libs/jquery-1.7.2.min.js"><\/script>')</script>

  <script src="/js/libs/gumby.min.js"></script>
  <script src="/js/plugins.js?{{ site.time | date: "%Y%m%d%H%M%S" }}"></script>
  <script src="/js/main.js?{{ site.time | date: "%Y%m%d%H%M%S" }}"></script>
  <!-- end scripts-->

  
  <!-- Change UA-XXXXX-X to be your site's ID -->
  <script>
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>


  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
  <!-- Social Widget Rendering Javascript /-->
  <script src="http://platform.twitter.com/widgets.js"></script>
  <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
  <script type="text/javascript">
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
  <!-- End Social Widget Rendering Javascript /-->
  </div>

  <a href="https://github.com/mbenjaminsmith/mbenjaminsmith.github.com">
    <img  style="position: absolute; top: 0; right: 0; border: 0;" 
          src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub">
  </a>
</body>
</html>